@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(60deg,
    rgb(252, 204, 99),
    rgb(251, 173, 80),
    rgb(205, 72, 107),
    rgb(76, 104, 215));
    /*background: radial-gradient(circle at 30% 107%,
     #fdf497 0%, #fdf497 5%, 
     #fd5949 45%,#d6249f 60%,#285AEB 90%);*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram{
    width: 330px;
    height: 550px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px purple;
    position: relative;
}
.instagram .vertical{
    position: absolute;
    top: 0%;
    right: 1%;
    width: 35px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}
.vertical .main-icon i,
.vertical .icons i{    
    font-size: 23px;
}
.vertical .main-icon i:hover{
    cursor: pointer;
    color: black;
}
.vertical p{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.vertical .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.icons .item{
    width: 100%;
    text-align: center;
    transition: all ease 0.4s;
}
.icons .item:hover{
    cursor: pointer;
    color: black;
}

.instagram .bottom-div{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 5px 10px;
}
.bottom-div i{
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all ease 0.4s;
}
.bottom-div i:hover{
    color:black
}
.instagram .post{
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom,transparent,transparent,
    rgba(0,0,0,0.5)),url('d1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.instagram .caption{
    position: absolute;
    bottom: 55px;
    width: 87%;
    height: 70px;
    left: 0;
    z-index: 5;
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.caption .row{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: white;
}
.caption img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    padding: 3px;
    background:linear-gradient(60deg,
    rgb(252, 204, 99),
    rgb(251, 173, 80),
    rgb(205, 72, 107),
    rgb(76, 104, 215));
}
.caption .row p{
    font-size: 13px;
}
.caption .row button{
    padding: 3px 15px;
    background: transparent;
    font-size: 13px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    outline: 0;
}
.instagram .action{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
}
.instagram .action i{
    font-size: 50px;
    color: red;
    display: none;
    transition: all ea 0.4s;
}
/*.instagram .action i:hover{
    cursor: pointer;
    animation: bounce linear 1s;
}*/
@keyframes bounce{
    0%{
        transform: scale(0.4);
        color: white;
    }
    50%{
        transform: scale(2) ;
    }
    100%{
        transform: scale(0.4);
    }
}
#heartclick{    
    display: none;
    color: red;
}